.carousel-item img{
    object-fit: cover;
    object-position: top;
    height: 300px;
    overflow: hidden;
    display: flex;
  margin-left: auto;
  margin-bottom: auto;
 
}


.grid-container {
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 25px;

   
}
.grid-item {
    position: relative;
    height: fit-content;

}
.grid-item.large {
    grid-row: span 3;
    grid-column: span 3;
   
    
    
}
.grid-item.medium {
    grid-row: span 2;
    grid-column: span 3;

}
.grid-item.small {
    grid-row: span 1;
    grid-column: span 2;
    
}
.grid-item.smaller {
    grid-row: span 1;
    grid-column: span 1;
    
}
.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 2px  solid #FCC70B;
    border-radius: 28px;
    
}
.card-img-top {
    
    width: 100%;
    object-fit: cover;
    border-radius: 28px 28px 28px 28px;
    

}
.grid-item.large .card-img-top {
    height: 450px;
    
    
}
.grid-item.medium .card-img-top {
    height: 300px;
   
    
}
.grid-item.small .card-img-top {
    height: 200px;
    
}
.grid-item.smaller .card-img-top {
    height: 120px;
   
}


.card-body {
    flex: 1;
    
}
.card-title-overlay {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(107, 105, 105, 0.5), rgba(0, 0, 0, 0.5)); 
    border-radius: 0 0 27px 27px;
    padding: 8px;
    text-align: center;
    
    

}

.card-title {
    margin: 0;
    font-size: 20px;
    color: white;
    

}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.row.no-gutters {
    margin-left: 0;
    margin-right: 0;
}
